*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(14,170,184);
    background: linear-gradient(90deg, rgba(14,170,184,1) 37%, rgba(3,255,0,1) 100%);
}

#tabla{
    border-collapse:collapse;
    margin: auto;
}

td{
    border: solid 2px;
    text-align: center;
    height: 20px;
    width: 100px;
    padding: 5px 0px;
}

table tr:nth-child(1) td:nth-child(1){background-color: aquamarine;}
table tr:nth-child(1) td:nth-child(2){background-color:coral;}
table tr:nth-child(1) td:nth-child(3){background-color:darkcyan;}
table tr:nth-child(2) td:nth-child(1){background-color:darkorchid;}
table tr:nth-child(2) td:nth-child(2){background-color:gold;}
table tr:nth-child(2) td:nth-child(3){background-color:palegreen;}
table tr:nth-child(3) td:nth-child(1){background-color:deeppink;}
table tr:nth-child(3) td:nth-child(2){background-color:springgreen;}
table tr:nth-child(3) td:nth-child(3){background-color:violet;}